/* some style */

#about {
    border-radius: 0.2em;
    border-color: black;
    border-color: rgba(0,0,255, .5);
    border-width: 1px;
    border-style: solid;
    padding:1em;
    margin-top:1em;
    margin-bottom:1em;
    background: #eef;
}

.calendar-table {
	border-collapse: all;
	border-spacing: 0;
}
.calendar-table td{
	border: 1px solid silver;
	margin: 0; padding: 0.3em;
}

.calendar-table thead td{
	font-weight: bold;
	white-space: normal;
    word-wrap: break-word;
    vertical-align: top;
}
.calendar-table span.check:before
{
    content: "\2610";
    margin-right:0.5em;
}
.calendar-table span.check
{
    content: "\2610";
    display: block;
}

.calendar-table .flow {
    float: left;
}
.calendar-table .flow span.check {
    display: inline-block;
}
.calendar-table .flow span.check:after {
    content: " ";
    width: 1em;
    display: inline-block;
}

.calendar-table input {
    display: block;
}
.calendar-table input:placeholder-shown {
    display: inline;
    margin-left: 1em;
    width: 4em;
}

label.disabled {
	text-decoration: line-through;
	color: #888;
}

.footer {
    text-align: right;
}

#student {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2px;
    max-width: 20%;
}

#message {
    width: 100%
}

.float-children>*{
    float: left;
}

.week-selector.current {
    color: orange;
}

.week-selector span{
    width: 7em;
}

label.checktext {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    vertical-align: bottom;
    line-height: 3em;
}
label.checktext input {
    display: none;
}

label.checktext input:checked+span {
    font-size: 2.5em;
    border-bottom: 5px solid #1875d1;
    width: inherit;
}

label.checktext span {
    transition: all 0.75s;
    color: #5c616c;
    border-bottom: 2px solid #5c616c;
}

.header #student {
    float: none;
}
.header * {
    display: inline;
    float: right;
}

@media print {
    .no-print {
        display: none;
    }
    .no-print-border {
        border: none;
    }
    #message {
        float: left;
    }
    .calendar-table input:placeholder-shown {
        display: none;
    }
}

@media not print {
    .preview {
        margin: 1em;
        padding: 1em;
        border: 1px solid #ccc;
        max-width: calc(100vw - 6em);
        background-color: #F8F8F8;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }
}
